@use "../base/index.scss"as *;
.shop{
    background-color:var(--section-bg-color);

   
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__paragraph{
    text-align: center;
    padding-top: 77px; 
  }
  &__parag{
    @extend %section-tittle;
    padding-left: 2.5em;
  }
  &__tittle{
    @extend %big-title;
    margin-bottom:1em;
  }
  &__img{
    width: 100%;
    object-fit: cover;
  }
}

