%colors{
    --primary-color:#272727;
    --secondary-color:#FFF;
    --tertiary-color:#3A3A3A;
    --icons-color:#D7DDDF;
    --bg-color:#fff;
    --paragraph-hover-color:#72AEC8;
    --section-bg-color:#EDF1F3;
}